body {
    background-color: #282c34;
}

.App {
    text-align: center;
}

.scene2 {
    display: inline-block;
    perspective: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.8s;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin: 3px;
}

.scene2:hover {
    background-color: #5b85da;
}

.shoplist {
    position: relative;
}

.imgstyle2 {
    border-radius: 10px;
    margin: 0 auto;
}
img {
    border-radius: 50%;
    vertical-align: middle;
    height: 100%;
  }
.box {
    height: 100%;
}

.shopandclear {
    margin-top: 20px;
}
.clearbutton {
    margin-left: 3px;
    border-radius: 5px;
}
.searchlist {
    margin-left: 3px;
    border-radius: 5px;

}
.whitetext {
    color: white;
    margin-left: 3px;
}